<?xml version="1.0" encoding="utf-8"?>
<widget id="com.visiecom.wsvnb" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Wsvnb</name>
    <description>
        Wsvnb boat app
    </description>
    <author email="info@visiecom.com" href="https://visiecom.com/">
        VisieCom B.V.
    </author>
    <content src="index.html" />
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>   
   
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="iosPersistentFileLocation" value="Compatibility" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~4.1.1" />
    
    <icon src="www/icon.png" /> 
    <splash src="www/screen.png" />

    <icon platform="android" src="www/img/Android/res/drawable-ldpi/icon.png" density="ldpi"/>
    <icon platform="android" src="www/img/Android/res/drawable-mdpi/icon.png" density="mdpi"/>
    <icon platform="android" src="www/img/Android/res/drawable-hdpi/icon.png" density="hdpi"/>
    <icon platform="android" src="www/img/Android/res/drawable-xhdpi/icon.png" density="xhdpi"/>
    <icon platform="android" src="www/img/Android/res/drawable-xxhdpi/icon.png" density="xxhdpi"/>
    <icon platform="android" src="www/img/Android/res/drawable-xxxhdpi/icon.png" density="xxxhdpi"/>
    
    <splash platform="android" src="www/img/Android/res/drawable-land-ldpi/screen.png" qualifier="land-ldpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-land-mdpi/screen.png" qualifier="land-mdpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-land-hdpi/screen.png" qualifier="land-hdpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-land-xhdpi/screen.png" qualifier="land-xhdpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-land-xxhdpi/screen.png" qualifier="land-xxhdpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-land-xxxhdpi/screen.png" qualifier="land-xxxhdpi"/>   
    <splash platform="android" src="www/img/Android/res/drawable-ldpi/screen.png" qualifier="port-ldpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-mdpi/screen.png" qualifier="port-mdpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-hdpi/screen.png" qualifier="port-hdpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-xhdpi/screen.png" qualifier="port-xhdpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-xxhdpi/screen.png" qualifier="port-xxhdpi"/>
    <splash platform="android" src="www/img/Android/res/drawable-xxxhdpi/screen.png" qualifier="port-xxxhdpi"/>     

    <gap:splash src="splash/320x480.png"   gap:platform="ios" width="320"  height="480"  /><!-- Regular iPhone4 -->
    <gap:splash src="splash/640x960.png"   gap:platform="ios" width="640"  height="960"  /><!-- Retina iPhone4 -->
    <gap:splash src="splash/640x1136.png"  gap:platform="ios" width="640"  height="1136" /><!-- iPhone5 -->
    <gap:splash src="splash/768x1004.png"  gap:platform="ios" width="768"  height="1004" /><!-- iPad Portrait -->
    <gap:splash src="splash/1024x748.png"  gap:platform="ios" width="1024" height="748"  /><!-- iPad Landscape -->
    <gap:splash src="splash/1536x2008.png" gap:platform="ios" width="1536" height="2008" /><!-- Retina iPad Portrait - Requires PhoneGap 2.5.0+ -->
    <gap:splash src="splash/2048x1496.png" gap:platform="ios" width="2048" height="1496" /><!-- Retina iPad Landscape - Requires PhoneGap 2.5.0+ -->
    <gap:splash src="splash/750x1334.png"  gap:platform="ios" width="750" height="1334"  /><!-- iPhone6 Portrait -->
    <gap:splash src="splash/1242x2208.png"  gap:platform="ios" width="1242" height="2208"  /><!-- iPhone6+ Portrait -->
    <gap:splash src="splash/2208x1242.png"  gap:platform="ios" width="2208" height="1242"  /><!-- iPhone6+ Landscape -->

    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="darkcontent" />
    
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.file" spec="1.3.3" source="pgb" />
    <gap:plugin name="org.apache.cordova.file-transfer"  spec="0.5.0" source="pgb" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.1" />
    <plugin name="cordova-plugin-file" spec="~3.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.3.0" />
</widget>
